@import "tailwindcss";
@config "../../../tailwind.config.js";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  min-height: 100%;
  background-color: var(--color-background);
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

button:enabled,
[role="button"],
select:enabled {
  cursor: pointer;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.2s ease,
    border-color 0.3s ease,
    width 0.3s ease;
}

@keyframes scale-in {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scale-in 0.2s ease-out forwards;
}
